'fileTypes': [
  'suricata'
  'rules'
]
'name': 'Suricata'
'scopeName': 'source.suricata'
'patterns': [
  {
    'name': 'storage.type.option.general.suricata'
    'match': '\\b(msg|sid|rev|gid|classtype|reference|priority|metadata|target|pcre)\\b'
  }
  {
    'name': 'storage.type.option.suricata'
    'match': '\\b(ttl|ipopts|sameip|ip_proto|id|geoip|fragbits|fragoffset|tos)'
  }
  {
    'name': 'storage.type.option.suricata'
    'match': '\\b(seq|ack|window)'
  }
  {
    'name': 'storage.type.option.suricata'
    'match': '\\b(itype|icode|icmp_id|icmp_seq)'
  }
  {
    'name': 'storage.type.option.suricata'
    'match': '\\b(content|nocase|depth|startswith|offset|distance|within|isdataat|dsize|rpc|replace|byte_test|byte_jump|byte_extract)'
  }
  {
    'name': 'storage.type.option.suricata'
    'match': '\\b(fstrip_whitespace|compress_whitespace|to_sha256|to_md5|to_sha1)'
  }
  {
    'name': 'storage.type.option.suricata'
    'match': '\\b(fast_pattern|prefilter)'
  }
  {
    'name': 'storage.type.option.suricata'
    'match': '\\b(flowbits|flow|flowint|stream_size)'
  }
  {
    'name': 'storage.type.option.suricata'
    'match': '\\b(bypass)'
  }
  {
    'name': 'storage.type.option.suricata'
    'match': '\\b(http_uri|http_raw_uri|http_method|http_client_body|http_header|http_raw_header|http_cookie|http_user_agent|http_host|http_raw_host|http_stat_msg|http_stat_code|http_server_body|http\\.server|http\\.location)'
  }
  {
    'name': 'storage.type.option.suricata'
    'match': '\\b(http_request_line|http_accept|http_accept_lang|http_accept_enc|http_referer|http_connection|http_content_type|http_content_len|http_start|http_protocol|http_header_names|http_response_line|file_data|http\\.protocol)'
  }
  {
    'name': 'storage.type.option.suricata'
    'match': '\\b(filename|fileext|filemagic|filestore|filemd5|filesha1|filesha256|filesize)'
  }
  {
    'name': 'storage.type.option.suricata'
    'match': '\\b(dns_query)'
  }
  {
    'name': 'storage.type.option.suricata'
    'match': '\\b(tls_cert_notbefore|tls_cert_notafter|tls_cert_expired|tls_cert_valid|tls\\.version|ssl_version|tls\\.subject|tls\\.issuerdn|tls\\.fingerprint|tls\\.store|ssl_state)'
  }
  {
    'name': 'storage.type.option.suricata'
    'match': '\\b(tls_cert_subject|tls_cert_issuer|tls_cert_serial|tls_cert_fingerprint|tls_sni|tls\\.cert_subject|tls\\.cert_issuer|tls\\.cert_serial|tls\\.cert_fingerprint|tls\\.sni)'
  }
  {
    'name': 'storage.type.option.suricata'
    'match': '\\b(ssh_proto|ssh_software|ssh\\.proto|ssh\\.sofware)'
  }
  {
    'name': 'storage.type.option.suricata'
    'match': '\\b(ja3_hash|ja3_string|ja3\\.hash|ja3\\.string)'
  }
  {
    'name': 'storage.type.option.suricata'
    'match': '\\b(modbus)'
  }
  {
    'name': 'storage.type.option.suricata'
    'match': '\\b(dnp3_func|dnp3_ind|dnp3_obj|dnp3_data)'
  }
  {
    'name': 'storage.type.option.suricata'
    'match': '\\b(enip_command|cip_service)'
  }
  {
    'name': 'storage.type.option.suricata'
    'match': '\\b(ftpdata_command|ftpbounce)'
  }
  {
    'name': 'storage.type.option.suricata'
    'match': '\\b(krb5_msg_type|krb5_err_code)'
  }
  {
    'name': 'storage.type.option.suricata'
    'match': '\\b(krb5_cname|krb5_sname)'
  }
  {
    'name': 'storage.type.option.suricata'
    'match': '\\b(app\\-layer\\-protocol|app\\-layer\\-event)'
  }
  {
    'name': 'storage.type.option.suricata'
    'match': '\\b(xbits)'
  }
  {
    'name': 'storage.type.option.suricata'
    'match': '\\b(threshold|detection_filter)'
  }
  {
    'name': 'storage.type.option.suricata'
    'match': '\\b(iprep)'
  }
  {
    'name': 'storage.type.option.suricata'
    'match': '\\b(lua)'
  }
  {
    'name': 'variable.language.any.suricata'
    'match': '\\bany\\b'
  }
  {
    'contentName': 'string.regex.suricata'
    'begin': 'pcre: ?(\\"|\\”)'
    'end': '(\\"|\\”);'
  }
  {
    'name': 'string.quoted.double.suricata'
    'begin': '(\\"|\\”)'
    'end': '(\\"|\\”)'
  }
  {
    'name': 'keyword.operator.not.suricata'
    'match': '!'
  }
  {
    'name': 'variable.parameter.suricata'
    'match': '(\\$)[A-Z0-9_]+\\b'
  }
  {
    'name': 'invalid.illegal.variable.suricata'
    'match': '(\\$)[A-Z0-9_]*[a-z]+[A-Z0-9_]*\\b'
  }
  {
    'name': 'comment.line'
    'match': '^#.*\\n'
  }
  {
    'name': 'keyword.other.action.suricata'
    'match': '^(pass|drop|reject|alert)\\b'
  }
  {
    'name': 'keyword.other.protocol.suricata'
    'match': '\\b(tcp|udp|icmp|ip|http|ftp\\-data|ftp|tls|smb|dns|dcerpc|ssh|smtp|imap|msn|modbus|dnp3|enip|nfs|ikev2|krb5|ntp|dhcp)\\b'
  }
  {
    'name': 'variable.parameter.ipaddress.suricata'
    'match': '(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\\b'
  }
  {
    'name': 'variable.parameter.ipsubnet.suricata'
    'match': '\\/(3[0-2]|[1-2][0-9]|[0-9])\\b'
  }
  {
    'name': 'support.constant.ports.suricata'
    'match': '(\\b|:)([0-9]{1,3}|10[0-2][0-4])(:|\\b)'
  }
  {
    'name': 'keyword.other.direction.suricata'
    'match': '(-\\>|\\<\\>)'
  }
  {
    'name': 'invalid.illegal.direction.suricata'
    'match': '(\\<-)'
  }
]
'smartTypingPairs': [
  [
    '"'
    '"'
  ]
  [
    '('
    ')'
  ]
  [
    '{'
    '}'
  ]
  [
    '['
    ']'
  ]
  [
    '<'
    '>'
  ]
  [
    '/*'
    '*/'
  ]
]
'highlightPairs': [
  [
    '"'
    '"'
  ]
  [
    '('
    ')'
  ]
  [
    '{'
    '}'
  ]
  [
    '['
    ']'
  ]
  [
    '<'
    '>'
  ]
]
